*
{
	font-family:Slab serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	list-style: none;
}
body {
	background-color: #a0d2eb;
	}
.my-style
{
	border: 10px solid #A31ACB; 
}
.parent
{
    width:100%;
	height:100%;
}
.my-head
{
	background-color:#FFACAC;
	color: #BE6DB7;
	padding-left:450px;
    margin-bottom:10px;
	margin-left:10px;
	margin-top:10px;
}
.my-style2
{
	background-color:#434242;
	border: 30px solid #3C4048;
}
  div p
{
	padding-right:100px;
	padding-left: 100px;
	padding-bottom:100px;
}
a:link
			{
				color:black;
			}
			a:visited
			{
				color:black;
			}
			a:hover
			{
				color:Violet;

			}
body
{
	background-color:#a0d2eb;
}	
.image
{
	border-image-width:10px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	list-style: none;
}
.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}
.slideshow {
	position: absolute;
	width:100%;
	margin: auto;
	overflow: hidden;
	box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}
.slideshow ul {
	position: relative;
	left: 0;
	width: 9000px;
	transition: left .3s linear;
	animation: slide 15s infinite;
}
.slideshow ul li {
	display: inline-block;
	height:100%;
	float: left;
	width: 800px;
}
.single-img {
	margin: 0 auto;
	padding: 0;
	width:100%;
}
.single-img img {
	width:100%;
	height:100%;
}
@keyframes slide {
	20% {
		left: 0;
	}
	25% {
		left: -800px;
	}
	45% {
		left: -800px;
	}
	50% {
		left: -1600px;
	}
	70% {
		left: -1600px;
	}
	75% {
		left: -2400px;
	}
	98% {
		left: -2400px;
	}
	100% {
		left: 0;
	}
}